{% extends "main.template.html" %}

{% block menuitems %}
<li><a href="/">Home</a></li>
<li><a href="/tasks">Tasks</a></li>
<li class="active"><a href="/workflows">Workflows</a></li>
{% endblock %}

{% block content %}
<h1>Workflows</h1>
<div class="button-right-of-header">
  <button type="button" class="btn btn-default btn-lg" onclick='location.href="/workflow"'>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  New Workflow
  </button>
</div>
<br>
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">Panel heading</div>

<!-- Table -->
<table class="table">
</table>
</div>
{% endblock %}